<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYMENT</title>
</head>

<body>
    <h1>WELCOME TO OUR PAYMENT GATEWAY!</h1>
</body>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-name="Shubham" data-billing-address="house no 4465 defence colony Jind"
    data-description="YOUTUBE PREMIUM" data-amount="250" data-currency="INR" data-locale="auto" data-key="<%= key %>">
</script>

</html>
